<h1>Data Science Tools and Ecosystem</h1>

<h3>In this notebook, Data Science Tools and Ecosystem are summarized.</h3>

<h5>Some of the popular languages that Data Scientists use are:</h5>
<li> Python </li>
<li> R language </li>
<li> Java script </li>
<li> SQL </li>

<h5>Some of the commonly used libraries used by Data Scientists include:</h5>
<li> Pandas </li>
<li> numpy </li>
<li> keras </li>
<li> pytorch </li>

|Data Science Tools|
|------------------|
|Hadoop|
|MYSQL|
|MongoDB|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h5>Objectives:</h5>
<li>Some of the popular languages that Data Scientists use </li>
<li>Some of the commonly used libraries used by Data Scientists include</li>
<li>simple arithmetic expression to mutiply then add integers</li>
<li>simple code to convert minutes to hours</li>

<h2>Author</h2>
Mohamed Madeeh Hammad